node_modules
.git
.expo
app/
assets/
components/
constants/
hooks/
scripts/
store.js
firebase.js
*.md
*.png
*.jpg
*.svg
expo-env.d.ts
tsconfig.json
app.json
.env
Jenkinsfile
package.json
package-lock.json